extends ../shared/layout
block main-content
    .container.conteiner-my
        h1.text-center=user.username+' Profile'
        if (globalError)
            h3=globalError
        .row
            .graphics
                h2 Personal Data
                .persomal-data
                    p
                        span Username : &nbsp;
                        span=user.username
                    p
                        span First name : &nbsp;
                        span=user.firstName
                    p
                        span Last name : &nbsp;
                        span=user.lastName
                    p
                        span Email : &nbsp;
                        span=user.email
                if(currentUser)
                    if(currentUser.username === user.username || currentUser.username === 'Admin')
                        .form-group
                            a.btn.btn-default(href="/users/edit/" + user.id) Edit Profile
        .row
            .graphics
                h2 Graphics
                each item in user.graphics
                    .col-sm-4
                        a(href="/graphics/details/"+item.id)
                            h2.text-center=item.name
                            .index-display-image
                                .inside-conteiner
                                    image(src=item.image+'.png').image-display
                                    p=item.content
                            a(href="/users/profile/"+item.author.id)
                                small Author : &nbsp;
                                span=item.author.username
                            p
                                small Category : &nbsp;
                                small=item.category
                                br
                                small Views : &nbsp;
                                small=item.views
        .row
            .literature
                h2 Literature
                each item in user.literature
                    .col-sm-4
                        a(href="/literature/details/" + item.id)
                            h2.text-center=item.name
                            .index-display-image
                                .inside-conteiner
                                    p=item.content
                            a(href="/users/profile/"+item.author.id)
                                small Author : &nbsp;
                                span=item.author.username
                            p
                                small Category : &nbsp;
                                small=item.category
                                br
                                small Views : &nbsp;
                                small=item.views
        .row
            .comments
                h2 Comments
                if(user.comments)
                    each item in user.comments
                        .col-sm-4
                            p=item.comment
                else
                    .col-sm-4
                        h3 Not comment yet
    include ../shared/footer