extends ../../shared/layout
block main-content
    .container.body-content.conteiner-my
        .well
            h2 All Users
            .row
                table.table.table-striped.table-hover
                    thead
                        tr
                            th ID
                            th Username
                            th First Name
                            th Last Name
                            th Email
                            th Action
                    tbody
                        each user in users
                            if(user.username === 'Admin')
                                tr(class='info')
                                    td
                                        a(href="/users/profile/"+user.id)=user.id
                                    td=user.username
                                    td=user.firstName
                                    td=user.lastName
                                    td=user.email
                                    td
                                        a(class="btn" href='/admin/user/edit/'+user.id) Edit
                                        a(class="btn" href='/admin/user/delete/'+user.id) Delete
                            else
                                tr
                                    td
                                        a(href="/users/profile/"+user.id)=user.id
                                    td=user.username
                                    td=user.firstName
                                    td=user.lastName
                                    td=user.email
                                    td
                                        a(class="btn" href='/admin/user/edit/'+user.id) Edit
                                        a(class="btn" href='/admin/user/delete/'+user.id) Delete


    include ../../shared/footer