extends ../shared/layout
block main-content
    .container.conteiner-my
        .row
            .col-md-12
            h2(class="text-center")=name
            .details-display
                .details-conteiner
            a(href=href="/graphics/detailsReal/"+id)
                image(src=image+'.png').image-details-display
            .form-group
                form(method="post" action="/graphics/download/"+id).text-center
                    button.btn-down-my.btn-my-download(type="submit")
            a(href="/users/profile/"+author.id)
                p=author.username
            p=description
            p=category
            p=date
        if(currentUser)
            if(currentUser.username === author.username || currentUser.username === 'Admin')
                a.btn.btn-success.btn-sm(href='/graphics/edit/'+id) Edit
                a.btn.btn-danger.btn-sm(href='/graphics/delete/'+id) Delete
        a.btn.btn-default.btn-sm(onClick="history.go(-1)") Back
        include ../comments/create
    include ../shared/footer