extends ../shared/layout
block main-content
    .container.conteiner-my
        .row
            .col-md-12
            h2(class="text-center")=name
            .details-display
                .details-conteiner
            a(href=href="/graphics/detailsReal/"+id)
                image(src=image+'.png').image-details-display
            .form-group
                form(method="post" action="/graphics/download/"+id).text-center
                    button.btn.btn-default(type='submit') Download
            a(href="/users/profile/"+author.id)
                p=author.username
            p.description=description
            p=category
            p=date
        if(currentUser)
            if(currentUser.username === author.username || currentUser.username === 'Admin')
                a.btn.btn-success.btn-xs(href='/graphics/edit/'+id) Edit »
                a.btn.btn-danger.btn-xs(href='/graphics/delete/'+id) Delete »
        a.btn.btn-default.btn-xs(href='/') Back »
        include ../comments/create
    include ../shared/footer