extends ../shared/layout
block main-content
    .container.conteiner-my
        h1.text-center Details
        .row
            .col-md-12
            h2(class)=name
            .details-display
                .details-conteiner
            image(src=image+'.png').image-details-display
                p=author.username
            p=description
            p=category
            p=date
        if(currentUser)
            if(currentUser.username === author.username || currentUser.username === 'Admin')
                a.btn.btn-success.btn-xs(href='/literature/edit/'+id) Edit »
                a.btn.btn-danger.btn-xs(href='/literature/delete/'+id) Delete »
        a.btn.btn-default.btn-xs(href='/') Back »
    include ../comments/create
    include ../shared/footer