extends ../shared/layout
block main-content
    .container.conteiner-my
        h3.text-center Details
        .row
            .col-md-12
            h2(class)=name
            .details-display
                .details-conteiner
                    p!=content
            a(href="/users/profile/"+author.id)
                p=author.username
            p=description
            p=category
            p=date
        if(currentUser)
            if(currentUser.username === author.username || currentUser.username === 'Admin')
                a.btn.btn-success.btn-sm(href='/literature/edit/'+id) Edit
                a.btn.btn-danger.btn-sm(href='/literature/delete/'+id) Delete
        a.btn.btn-default.btn-sm(onClick="history.go(-1)") Back
        include ../comments/create
    include ../shared/footer